/*
.check-box .box {
-fx-background-color: white;
-fx-border-color:grey;
-fx-border-radius:3px;
}

.check-box:selected .mark {
-fx-background-color: #000000;
}

.check-box:selected .box {
-fx-background-color: #FF0000;
}
*/
